
@media all and (min-width:993px) {
   
    .card_text h3 {
       
        font-size: 18px;
        left: 40px;
        
    }
}

@media all and (max-width:992px) {
    .menu li a::after{
        display: none
     }
     .menu{
         text-align: center;
         margin-top: 30px;
         
     }
     .menu li a{
         transition: 0.5s;
     }
     .menu li:hover a{
         background: #2c3e50;
         color: #fff !important;
        
         
         
     
     }

    .icon ul li button {
       
        width: 25px;
        height: 25px;
        
    }
    .icon ul li {
       margin-left: 18px;
       margin-right: 0px;
    }
    .icon ul li button i {
        
        font-size: 13px;
    }
    .features_item {
        
        padding: 10px;
       
        padding-bottom: 35px;
    }
    .bg_circle {
        
        width: 40px;
        height: 40px;
        
    }
    .border_circle {
       
        width: 45px;
        height: 45px;
        
    }
    
.icon_circle {

	width: 39px;
	height: 45px;
	
}
.icon_circle i {
	
	font-size: 27px;

	line-height: 45px;
	
}
.featurs_content h3 {
	font-size: 13px;
	
}
.featurs_content p {
	font-size: 12px;
	
}
.cards {
	width: 100%;
    height: 440px;
	
}
.cards h3 {
	font-size: 20px;
	
}
.service_area {
	padding: 40px 0;
}
}
@media all and (max-width:768px) {
   
    
    .hero_text .mybtn {
        
        padding: 5px 60px;
       
    }
    .icon ul {
        
        flex-direction: column;
    }
    .icon ul li{
        margin-top: 10px;
    }
    .featurs_content h3 {
        font-size: 18px;
    }
    .featurs_content p {
        font-size: 16px;
    }
    
    .profile_area {
        padding: 60px 0;
    }
    .cards h3 {
       
        left: 140px;
       
    }
    .about_me h4{
        margin-top: 10px;
        font-size: 35px;
        font-weight: 700;
    }
    .service_area {
        padding:0;
    }
    .service_title h2{
        text-align: center;
        font-weight: 600;
    }
    .service_title p {
        text-align: center;
        font-size: 15px;
    }
    .card-title {
        margin-bottom: .5rem;
        text-align: center;
    }
    .card-text:last-child {
        text-align: center;
    }

}
@media all and (max-width:500px) {
    .hero_left{
       
        width: 100%;
    }
    .align-self-end {
        align-self: flex-end !important;
        width: 100%;
    }
    .cards {
        width: 80%;
        height: 440px;
       
    }
    .cards h3 {
        left: 65px;
    }
   
    
}
@media all and  (max-width:499px) {
    .hero_text {
        margin-top: 90px;
    }
    .hero_text h2 {
        font-size: 20px;
       
    }
    .hero_text p span {
        font-size: 10px;
    }

    .cards h3 {
        font-size: 18px;
        left: 12px;
    }
    
    .social_icon h4 {
        width: 213px;
        height: 40px;
      
    }
    .profile_link:last-child a {
        margin-left: 5px;
        margin-top: 10px;
    }
    .profile_link {
        margin-top: 40px;
    }
    .copyright_design, .copyright_text {
        font-size: 14px;
    }

}
@media all and (max-width:300px) {
   
    .cards h3 {
        font-size: 15px;
        left: 12px;
    }
    .card_content h4 {
        width: 185px;
        
    }
    .card_content ul li a {
       
        width: 24px;
        height: 24px;
      
    }
    .card_content ul i {
       
        line-height: 24px;
        font-size: 12px;
    }
    .profile_link a {
        display: block;
        padding: 5px 15px;
       
    }
    
    #scrollUp {
        width: 30px;
        height: 30px;
       
    }
    #scrollUp i {
       
        line-height: 30px;
        font-size: 16px;
    }
}


@media all and (min-width:200px) and (max-width:767px){

    .feature_col:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
       
    }
    .feature_col:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
       
    }

}


